<a href="https://colab.research.google.com/github/parwinderau/machinelearning/blob/main/Panada-and-DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise_3 python basics
ML Course, Aarhus Universitet, BTECH Department  

---

# Pandas and DataFrames in Python 
reference: 

https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

In [ ]:
import pandas as pd

In [ ]:
# {'Column Label':[ list of values in row]}
cars = {'Brand': ['Renault','Toyota','Ford','Audi'],
        'Price(dkk)': [200000,250000,220000,350000],
        'Doors number': [5, 3, 5, 3],
        'Producer': ['France', 'Japan', 'US', 'Germany'],
        }

# is possible to decide how many colums use/show
df = pd.DataFrame(cars)

print (df)

     Brand  Price(dkk)  Doors number Producer
0  Renault      200000             5   France
1   Toyota      250000             3    Japan
2     Ford      220000             5       US
3     Audi      350000             3  Germany

What is the price for a Toyota?

In [ ]:
# Using df['Brand'] we can see all 

num_rows = df['Brand'].size

i = 0

while (i < num_rows) and (df['Brand'][i] != 'Toyota'):
  i = i + 1

print('The price for the ',df['Brand'][i],' is ',df['Price(dkk)'][i], 'dkk')

The price for the  Toyota  is  250000 dkk

In [ ]:
new_car= {'Brand': ['Nissan'],
        'Price(dkk)': [210000],
        'Doors number': [5],
        'Producer': ['Japan'],
        }

df_new = pd.DataFrame(new_car)
df.append(df_new)

/var/folders/p_/s8bql6g93m3fhyrpdqycq_9c8gdhfq/T/ipykernel_3001/3735149473.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df_new)

     Brand  Price(dkk)  Doors number Producer
0  Renault      200000             5   France
1   Toyota      250000             3    Japan
2     Ford      220000             5       US
3     Audi      350000             3  Germany
0   Nissan      210000             5    Japan

In [ ]:
# Find 5 doors cars price

five_door_price_list = df.loc[df['Doors number'] == 5 , ['Price(dkk)']] 

print('The mean of the price is ', np.mean(five_door_price_list))

**Numpy module** 

It allows you to make specific mathematical operation

reference: 
https://www.datacamp.com/community/blog/python-numpy-cheat-sheet

In [ ]:
# if you want to create random values around some pivot value
# suppose you want to create a random number between 3 and 9 centred in 6 (3 + (9-3)/2 = 6)
import random as rd
list_of_numbers = []
for i in range(1,100):
  list_of_numbers.append(rd.randint(3,9))

print('List of opeartion', list_of_numbers)

List of opeartion [5, 8, 9, 4, 8, 8, 8, 8, 9, 4, 5, 9, 3, 5, 4, 9, 5, 7, 6, 7, 3, 3, 5, 5, 9, 6, 4, 8, 8, 4, 8, 5, 9, 7, 6, 8, 8, 4, 3, 8, 4, 5, 8, 8, 8, 9, 4, 7, 5, 6, 9, 7, 6, 6, 8, 7, 7, 4, 3, 3, 9, 6, 3, 9, 4, 6, 8, 4, 9, 6, 6, 6, 4, 9, 4, 4, 9, 3, 3, 7, 9, 6, 4, 4, 9, 5, 8, 5, 3, 7, 8, 5, 9, 8, 3, 7, 6, 4, 5]

In [ ]:
import numpy as np

list_mean_value = np.mean(list_of_numbers)

rounded_value = round(list_mean_value,2)

print('This list of numbers is centered on',rounded_value)

# round() it rounds not integer numbers to the precision you need.

This list of numbers is centered on 6.16

**Example** Calculate the average cost of the 5 doors cars

In [ ]:
# Make your tests in this space

4

**Solution**

Price(dkk)    210000.0
dtype: float64
The mean price for 5-doors cars is  210000.0 dkk

The mean of the price is  Price(dkk)    210000.0
dtype: float64