<a href="https://colab.research.google.com/github/parwinderau/machinelearning/blob/main/PandaDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
print ('msg if pandas are loaded')

cars = {'Brand': ['Renault', 'Toyata', 'Ford', 'Audi'],
        'Price(DKK)' : [200000, 250000, 220000, 350000],
        'Seat No' : [5,3,5,3],
        'Producer' : ['France', 'Japan', 'US', 'Germany']
        
        }
df = pd.DataFrame(cars);
print (df)

msg if pandas are loaded
     Brand  Price(DKK)  Seat No Producer
0  Renault      200000        5   France
1   Toyata      250000        3    Japan
2     Ford      220000        5       US
3     Audi      350000        3  Germany